@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}

.name-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
    
} 

.name-under-container{
    
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.name-under-container h3 { 
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
} 
.name-under-container p{
    width: 228px;
    height: 58px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

}

/* hope styles */
.hope-container{
    width: 1478px;
    height: 652px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    


    background-image: url("./assets/Hero-bg.png");
    border: dashed rgb(181, 177, 177);
}
.img-hope-contaienr{
    width: 240.28px;
    height: 240px;
    

    margin-bottom: 40px;

    
}
.text-hope-container{
    width: 998px;
    height: 136px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;


}
.text-hope-container h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.text-hope-container p{
    color: rgb(95, 97, 101);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.btn-hope-container button{
    width: 208px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 21px 24px 21px 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
    border-radius: 8px;

    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 450;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 50px;
}
/* why  web dev styles */
.why-web-container{
    width: 1140px ;
    height: 1235px;
    
    margin: 0 auto;
    border-radius: 16px;
    margin-top: 100px;
    

    background: rgba(13, 19, 33, 0.02);

}
.web-container{
    width: 946px;
    height: 1072px;
   
    margin-bottom: 80px;

    margin: 0 auto;
    margin-top: 80px;

}
.why-content{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.why-content h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 27px;
    font-weight: 650;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.why-content p{
    color: rgb(125, 126, 129);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
/* do styles  */
.do-content{
    display: flex;
    justify-content: space-between;
    
    border-radius: 16px;
    margin-top: 80px;
    border: none;

    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.will{
    width: 477px;
    height: 220px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-star;
    
    flex-direction: column;
    margin-left: 20px;
    margin-top: 50px;
}
.do-content h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.do-content p{
    color: rgb(113, 114, 118);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
}
.will button{
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    margin-top: 20px;
    margin-right: 400px;

}
.do-img{
    text-align: center;
    margin-right: 20px;
    width: 259.56px;
height: 217.01px;
}
/* help syles */
.help-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 80px;
    border-radius: 16px;
    

background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

}
.help{
    width: 477px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    margin-left: 30px;
}
.help-content h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.help-content p{
    
        color: rgb(113, 114, 118);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        
        
}
.img-help{
    width: 477px;
height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 30px;
}
.help-content button{width: 100px;
    height: 40px;
    box-sizing: border-box;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    
    margin-top: 20px;
    margin-right: 380px;
}

/* code style  */
.code-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 80px;
    border-radius: 16px;

    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.code-text{
    width: 477px;
    height: 220px;
    
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    
    
}
.code-text h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    }
.code-text p{
    color: rgb(113, 114, 118);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    
    }

.code-text button{
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    
    margin-top: 20px;
    margin-right: 480px;
}
.code-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}


/* my inspiration */
.my-insprition-container{
    width: 1140px;
    height: 777px;
    
    margin: 0 auto;
    margin-top: 50px;
}
.text-content{
    
    display: flex;
    align-items: center;
    justify-content: center;

}
.insprition-content{
    
    width: 852px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    }
.insprition-content h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.insprition-content p{
    
    color: rgb(113, 114, 118);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
/* video  */
.video-insprition-content{
    
    
    margin: 0 auto;
    
    border: 4px solid #000;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.video{
    
    height: 614px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: inset;
    border-radius: 16px;
    

    background: url(Jhankar);
    
    border: 1px solid rgba(13, 19, 33, 0.2);
    

}
/* my current styles */

.my-target-container{
    width: 1140px;
    height: 463px;
 
    margin: 0 auto;
}
.target-tex-container{
    
    
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}
.target-content{
   
    width: 852px;
    height: 39px;

}
.target-content h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.target-content{
    color: rgb(113, 114, 118);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.target-box-container{
    width: 1140px;
    height: 300px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;

}
.midell{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.box1-content{
    width: 364px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    
    border-radius: 16px;

    background: rgba(255, 76, 30, 0.05);
}

.box1{
   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
}
.box1 img{
    width: 56px;
    height: 56px;
    margin-top: 10px;
}
.box1 h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}
.box1 p{
    color:rgb(113, 114, 118) ;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    }
.box1 button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    background: none;
    border: none;
    text-decoration-line: underline;
    justify-content: space-around;
    margin-top: 10px
    }
    

/* box2 */



.box2-content{
    width: 364px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    
    border-radius: 16px;

    background:  16px;

    background: rgba(0, 76, 232, 0.05);;
}
.box2{
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
}
.box2 img{
    width: 56px;
    height: 56px;
    margin-top: 10px;
}
.box2 h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}
.box2 p{
    color:rgb(113, 114, 118) ;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    }
.box2 button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    background: none;
    text-decoration-line: underline;
    justify-content: space-around;
    margin-top: 10px
    }

    /* box3 */
    
.box3-content{
    width: 364px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    
    border-radius: 16px;

    background: 16px;

    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
}
.box3{
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
}
.box3 img{
    width: 56px;
    height: 56px;
    margin-top: 10px;
}
.box3 h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}
.box3 p{
    color:rgb(113, 114, 118) ;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    }
.box3 button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    background: none;
    text-decoration-line: underline;
    justify-content: space-around;
    margin-top: 10px
    
    }


    /* my next target  */

.my-next-target-container{
    width: 1140px;
     height: 870px;
    
     margin: 0 auto;
     margin-top: 50px;
}
.my-next-text{
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-nx-tr{
    
    width: 946px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}
.my-nx-tr h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.my-nx-tr p{
    color: rgb(113, 114, 118) ;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

/* nex-pic1  */
.next-target-tex1{
    border: 2px solid rgb(208, 212, 212);
    border-radius: 16px;
    display: flex;
    margin-top: 43px;
}
.my-nx-pic1{
    margin: 20px ;
    padding: 20px;
}
.my-nx-tx{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
   
    border-radius: 16px;

    background: rgb(255, 255, 255);

}
.my-nx-tx{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.my-nx-tx p{
    color:rgb(208, 212, 212) ;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.my-nx-tx button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    
    border: none;
}
/* nx-pic2 */
.next-target-tex2{
    border: 2px solid rgb(208, 212, 212);
    border-radius: 16px;
    display: flex;
    margin-top: 43px;
}
.my-nx-pic2{
    margin: 20px ;
    padding: 20px;
}
.my-nx-tx{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
   
    border-radius: 16px;

    background: rgb(255, 255, 255);

}
.my-nx-tx{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.my-nx-tx p{
    color:rgb(208, 212, 212) ;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.my-nx-tx button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    
    border: none;
}
/* nx-pic3 */

.next-target-tex3{
    border: 2px solid rgb(208, 212, 212);
    border-radius: 16px;
    display: flex;
    margin-top: 43px;
}
.my-nx-pic3{
    margin: 20px ;
    padding: 20px;
}
.my-nx-tx3{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
   
    border-radius: 16px;

    background: rgb(255, 255, 255);

}
.my-nx-tx h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.my-nx-tx p{
    color:rgb(208, 212, 212) ;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.my-nx-tx button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    background: none;
    
    border: none;

}

/* need support styls */

.need-support-container{
    width: 1140px;
    height: 314px;
    
    margin: 0 auto;
    margin-top: 50px;

    background-color: rgba(0,0,0,0.3);    
    background-image: url("./assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.need-text-content{
    
    width: 1044px;
    height: 186px;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    }
.need-content{
    
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
.need-content h3{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
.need-content p{
    color: rgb(208, 212, 212) ;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
text-align: center;
}
.need-support-container input{
    width: 400px;
    height: 37px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;

    background: rgb(255, 255, 255);
   
    
}
.need-support-container input::placeholder{
    width: 313px;
    height: 19px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    
}
.need-support-container button{
    width: 90px;
    height: 38px;
    border-radius: 8px;

    background: rgb(255, 255, 255);
    border: none;
    margin-top: 50px;

}
.footer-container{
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    margin-top: 50px;

    background: rgba(13, 19, 33, 0.03);

}
.footer-content h2{
    width: 600px;
    height: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-right: 350px;
}
.footer-icon{
    width: 157.01px;
    height: 36px;
    margin-right: 20px;
}